.mealitem {
  padding: 20px;
  font-size: 18px;
  list-style: none;
  position: relative;
}

.mealtitle {
  color: red;
  padding-bottom: 20px;
  font-size: 32px;
}

.description {
  padding-bottom: 12px;
  color: black;
  font-weight: 600;
  font-size: 24px;
}

.price {
  font-weight: 500;
  font-size: 20px;
}

.btncart {
  transition-duration: 0.4s;
  padding: 20px;
  font-size: large;
  border-radius: 8px;
  position: absolute;
  transform: translate(270%, -90%);
}
.btncart:hover {
  background-color: #333;
  color: white;
}
